@model PigeonDLCore.Models.File

@{
    ViewData["Title"] = "Download";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["FileName"].ToString()</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateUploaded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateUploaded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Downloads)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Downloads)
        </dd>
    </dl>
    @Html.HiddenFor(model => model.IDFile)
    @Html.HiddenFor(model => model.IDUser)
    @Html.HiddenFor(model => model.IDFolder)
    @Html.HiddenFor(model => model.Name)
    @Html.HiddenFor(model => model.URL)
    
    <form asp-action="Download">
        <input asp-for="URL" class="form-control" type="hidden" value=@ViewData["URL"].ToString()/>
        <span asp-validation-for="URL" class="text-danger"></span>
        <input type="submit" value="Download" class="btn btn-primary" />
    </form>
</div>
